@model MapViewModel
<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCETSpKkDQ_1gryrBc8qreJ3NgMYZbDlhU"
            type="text/javascript"></script>
</head>
<body>
    <div id="mapDiv" style="width:1870px;height:800px;"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            //Set the Latitude and Longitude of the Map
            var myAddress = new google.maps.LatLng(@(Model.Latitude), @(Model.Longitude));

            //Create Options or set different Characteristics of Google Map
            var mapOptions = {
                center: myAddress,
                zoom: 15,
                minZoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            //Display the Google map in the div control with the defined Options
            var map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);

            //Set Marker on the Map
            var marker = new google.maps.Marker({
                position: myAddress,
                animation: google.maps.Animation.BOUNCE,
            });

            marker.setMap(map);
        });
    </script>
</body>
</html>  